{% extends "layout.html" %}
{% block content %}
<div class="col-12">
    <div id="container"></div>
</div>
<script src="https://code.highcharts.com/9.1.0/highcharts.js"></script>
<script>
    var seriesData = [];
    var categoriesData = [];
    fetch('/api/airtravel_chart')
        .then(response => response.json())
        .then(data => {
            seriesData = [];
            data.forEach(element => {
                seriesData.push(element.count)
                categoriesData.push(element.year);
            });
            buildChart();
        });

    function buildChart() {

        Highcharts.chart('container', {
            chart: {
                type: 'line'
            },
            title: {
                text: 'Air Travel Data'
            },
            xAxis: {
                categories: categoriesData,
                title: {
                    text: "Month"
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Year',
                    align: 'high'
                },
                labels: {
                    overflow: 'justify'
                }
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            credits: {
                enabled: false
            },
            series: [
                {
                    name:"# Airtravel",
                    data: seriesData
                }
            ]
        });
    }

</script>

{% endblock %}
