{% extends "layout.html" %}
{% block content %}
<div class="col-12">
    <div id="container"></div>

</div>
<script src="https://code.highcharts.com/9.1.0/highcharts.js"></script>
<script>
    var seriesData = [];
    var categoriesData = [];
    fetch('/api/v1/airtravel_chart')
        .then(response => response.json())
        .then(data => {
            seriesData = [];
            data.forEach(element => {
                seriesData.push(element.count)
                categoriesData.push(element.SOMITEM_DATATYPE_YEARMONTH);
            });
            buildChart();
        });

    function buildChart() {

        Highcharts.chart('container', {
            chart: {
                type: 'line'
            },
            title: {
                text: 'Air Travel Data'
            },
            xAxis: {
                min: 0,
                categories: ["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"],
                title: {
                    text: "Months"
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: "Amount of passengers",
                    align: [high]
                },
                labels: {
                    overflow: 'justify'
                }
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            credits: {
                enabled: false
            },
            series: [
                {
                    name: "1958",
                    data: [340, 318, 362, 348, 363, 435, 491, 505, 404, 359, 310, 337]
                },
                {
                    name: "1959",
                    data: [360, 342, 406, 396, 420, 472, 548, 559, 463, 407, 362, 405]
                },
                {
                    name: "1960",
                    data: [417, 391, 419, 461, 472, 535, 622, 606, 508, 461, 390, 432]
                },

            ]
        });
    }
</script>

{% endblock %}