{% extends "layout.html" %}
{% block content %}

<script>
    `{% colors = ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"] %}`
    `{% cntcolor = 0 %}`
    `{% cntairtravel = 0 %}`

const labels = Utils.YEAR({count: 12});
const data = {
  labels: labels,
  datasets: [
      `{% for: airtravel in airtravels %}`,
      {
          label: `{% airtravel.YEAR %}`,
          data: [`{% airtravel.JAN %}`,
              `{% airtravel.FEB %}`,
              `{% airtravel.MAR %}`,
              `{% airtravel.APR %}`,
              `{% airtravel.MAY %}`,
              `{% airtravel.JUN %}`,
              `{% airtravel.JUL %}`,
              `{% airtravel.AUG %}`,
              `{% airtravel.SEP %}`,
              `{% airtravel.OCT %}`,
              `{% airtravel.NOV %}`,
              `{% airtravel.DECE %}`],
          borderColor: Utils.CHART_COLORS `{% colors[cntcolor] %}`,
          backgroundColor:Utils.transparentize
    (Utils.CHART_COLORS ,`{% colors[cntcolor] %}`, 0.5)

    }
    `{% if: cntairtravel >= len(airtravel) %}`

    `{% break %}`
    `{% endif %}`

    `{% cntcolor += 1 %}`

    `{% if (cntcolor)>= len(cntcolor) %}`
    `{% cntcolor = 0 %}`
    `{% endif %}`
    `{% endfor %}`
    ]

}

</script>
{% endblock %}
{% endbreak %}
