{% extends "layout.html" %}
{% block content %}
<form action="/edit/{{ airtravel.id }}" method="post">
    <div class="row">
        <div class="col">
            <label for="fldYEAR">YEAR</label>
            <input id="fldYEAR" type="text" class="form-control" placeholder="YEAR" name="fldYEAR" value="{{ airtravel.YEAR }}">
        </div>
        <div class="col">
            <label for="fldJAN">JAN</label>
            <input id="fldJAN" type="text" class="form-control" placeholder="JAN" name="fldJAN" value="{{ airtravel.JAN }}">
        </div>
        <div class="col">
            <label for="fldFEB">FEB</label>
            <input id="fldFEB" type="text" class="form-control" placeholder="FEB" name="fldFEB" value="{{ airtravel.FEB }}">
        </div>
        <div class="col">
            <label for="fldMAR">MAR</label>
            <input id="fldMAR" type="text" class="form-control" placeholder="MAR" name="fldMAR" value="{{ airtravel.MAR }}">
        </div>
        <div class="col">
            <label for="fldAPR">APR</label>
            <input id="fldAPR" type="text" class="form-control" placeholder="APR" name="fldAPR" value="{{ airtravel.APR }}">
        </div>
        <div class="col">
            <label for="fldMAY">MAY</label>
            <input id="fldMAY" type="text" class="form-control" placeholder="MAY" name="fldMAY" value="{{ airtravel.MAY }}">
        </div>
        <div class="col">
            <label for="fldJUN">JUN</label>
            <input id="fldJUN" type="text" class="form-control" placeholder="JUN" name="fldJUN" value="{{ airtravel.JUN }}">
        </div>
        <div class="col">
            <label for="fldJUL">JUL</label>
            <input id="fldJUL" type="text" class="form-control" placeholder="JUL" name="fldJUL" value="{{ airtravel.JUL }}">
        </div>
        <div class="col">
            <label for="fldAUG">AUG</label>
            <input id="fldAUG" type="text" class="form-control" placeholder="AUG" name="fldAUG" value="{{ airtravel.AUG }}">
        </div>
        <div class="col">
            <label for="fldSEP">SEP</label>
            <input id="fldSEP" type="text" class="form-control" placeholder="SEP" name="fldSEP" value="{{ airtravel.SEP }}">
        </div>
        <div class="col">
            <label for="fldOCT">OCT</label>
            <input id="fldOCT" type="text" class="form-control" placeholder="OCT" name="fldOCT" value="{{ airtravel.OCT }}">
        </div>
        <div class="col">
            <label for="fldNOV">NOV</label>
            <input id="fldNOV" type="text" class="form-control" placeholder="NOV" name="fldNOV" value="{{ airtravel.NOV }}">
        </div>
        <div class="col">
            <label for="fldDECE">DEC</label>
            <input id="fldDECE" type="text" class="form-control" placeholder="DEC" name="fldDECE" value="{{ airtravel.DECE }}">
        </div>
    </div>

    <button type="submit" class="btn btn-success">Save</button>

</form>
{% endblock %}