{% extends "layout.html" %}
{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Months</th>
        <th scope="col">1958</th>
        <th scope="col">1959</th>
        <th scope="col">1960</th>
    </tr>
    </thead>
    <tbody>
    {% for airtravel in airtravel %}
    <tr>
        <td><a href="view/{{ airtravel.id }}">{{ airtravel.Months }}</a></td>
        <td>{{ airtravel.YEAR_1958 }}</td>
        <td>{{ airtravel.YEAR_1959 }}</td>
        <td>{{ airtravel.YEAR_1960 }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}