{% extends "_base.html" %}
{% block content %}
    <div class="main">
    <p>{{ msg }}</p>
        <form action="/register" method="POST">
            <input id="fldName" type="text" placeholder="Username" name="username" required>
            <input id="fldPass" type="password" placeholder="Password" name="password" required>
            <input id="fldEmail" type="email" placeholder="Email Address" name="email" required>
            <button class="submit" type="submit">Register</button>
        </form>
    <p>Already have an account? <a href="/login">Login!</a></p>
    </div>
{% endblock %}