{% extends "layout.html" %}
{% block content %}

    <div class="card h-100">
        <div class="card-body">
            <h4 class="card-title text-center">{{ airtravel.YEAR }}</h4>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">JAN: {{ airtravel.JAN }}</li>
                <li class="list-group-item">FEB: {{ airtravel.FEB }}</li>
                <li class="list-group-item">MAR: {{ airtravel.MAR }}</li>
                <li class="list-group-item">APR: {{ airtravel.APR }}</li>
                <li class="list-group-item">MAY: {{ airtravel.MAY }}</li>
                <li class="list-group-item">JUN: {{ airtravel.JUN }}</li>
                <li class="list-group-item">JUL: {{ airtravel.JUL }}</li>
                <li class="list-group-item">AUG: {{ airtravel.AUG }}</li>
                <li class="list-group-item">SEP: {{ airtravel.SEP }}</li>
                <li class="list-group-item">OCT: {{ airtravel.OCT }}</li>
                <li class="list-group-item">NOV: {{ airtravel.NOV }}</li>
                <li class="list-group-item">DECE: {{ airtravel.DECE }}</li>
            </ul>
            <div class="card-footer text-center">
                <a href="/edit/{{ airtravel.id }}" class="card-link btn btn-primary">Edit</a>
            </div>
        </div>
        <form action="/delete/{{ airtravel.id }}" method="post">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>

{% endblock %}